body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu{
    padding:20px;
    position: relative;
}   
.container{
    text-align: center;
}
.login-container{
    padding: 20px;
    height: 500px;
}
.login-container h2{
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(20, 20, 20);
}

.login-container input{
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgb(25, 26, 14);
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
}
.login-container button{
    width: 50%;
    padding: 12px;
    background-color: rgb(129, 155, 243);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
    